<table class="table-list">
  <thead>
    <th>Nazwa grupy</th>
    <th colspan="2">Uczniów</th>
  </thead>

  <tbody>
    <tr *ngFor="let group of groups" [routerLink]="['/groups', group.id, 'edit']">
      <td>
        <span class="table-list__level">
          {{ group.name }}
        </span>
      </td>
      <td>
        <span class="table-list__level">
          {{ group.user_count }}
        </span>
      </td>
      <td>
        <button class="button button--primary">
          <i class="fa fa-eye"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="groups.length === 0">
  <tr>
    <td colspan="3">
      <loading></loading>
    </td>
  </tr>
  </tfoot>
</table>