<table *ngIf="actions" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Data</th>
      <th>Kto</th>
      <th>Operacja</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of actions">
      <td>{{ log.id }}</td>
      <td>{{ log.when }}</td>
      <td>
        <a href="javascript;" [routerLink]="['/users', log.userId, 'statistics']">{{ log.userName }}</a>
      </td>
      <td>
        {{ log.description }}&nbsp;&nbsp;&nbsp;
        <button *ngIf="log.code === 'USER_HAS_SUBMITTED_ANSWER'" class="button button--primary" [routerLink]="['/answer', log.answerId]">
          <i class="fa fa-eye"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="actions.length == 0">
    <tr>
      <td colspan="4" style="text-align:center">
        Użytkownik nie wykonał jeszcze żadnych akcji.
      </td>
    </tr>
  </tfoot>
</table>