<div class="row">
  <div class="gr-12">

    <form class="form" (ngSubmit)="saveTest()" #addChoiceForm="ngForm">
      <div class="form__section">
        <header class="form_section__heading">
          <h3 class="heading heading--center">Edytuj: wybór</h3>
        </header>

        <div class="form__group form__group--inline">
          <div class="form__group__label">
            <label for="excercise-name">Nazwa ćwiczenia</label>
          </div>
          <div class="form__group__control">
            <input type="text" required name="excercise[name]" [(ngModel)]="excercise.name"
                   class="input input--full" id="excercise-name">
          </div>
        </div>

        <div class="form__group form__group--inline">
          <div class="form__group__label">
            <label for="excercise-command">Polecenie</label>
          </div>
          <div class="form__group__control">
            <input type="text" required name="excercise[command]" [(ngModel)]="excercise.command"
                   class="input input--full" id="excercise-command">
          </div>
        </div>

        <div class="form__group form__group--inline">
          <div class="form__group__label">
            <label for="excercise-code">Kod</label>
          </div>
          <div class="form__group__control">
            <input type="text" required name="excercise[code]" [(ngModel)]="excercise.code"
                   class="input input--full" id="excercise-code">
          </div>
        </div>

        <div *ngFor="let sentence of excercise.data.sentences; let i = index;">
          <div class="question-sentence">
            <input type="text" required name="bracketsSentence-{{i}}"
                   [(ngModel)]="sentence.questionSentence" class="input input--full choice-sentence">
            <button style="margin-left: 5px" type="button" class="button button--danger" (click)="deleteSentence(i)">
              <i class="fa fa-remove"></i>
            </button>
            <button type="button" class="button button--primary" (click)="addOption(i)">
              <i class="fa fa-plus"></i>
            </button>

            <div *ngFor="let answer of sentence.answers; let j = index" style="display: inline">
              <div class="question-sentence-word">
                <div class="question-sentence-word__count">
                  <input type="checkbox" name="bracketsSentence-{{i}}-answer-correct-{{j}}" [(ngModel)]="answer.correct">
                </div>
                <input type="text" class="question-sentence-word__input input" required
                       name="bracketsSentence-{{i}}-answer-{{j}}" [(ngModel)]="answer.text">
              </div>
            </div>
          </div>
        </div>

        <div class="form__buttons">
          <button type="button" (click)="addSentence()" class="button button--success pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Dodaj zdanie
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
