<div class="dashboard">
  <div class="row">
    <div class="gr-12">
      <h1 class="heading heading--border">Statystyki</h1>
    </div>


    <div class="dashboard__chart">
      <canvas *ngIf="this.finished" baseChart height="80"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

    <div style="clear: both"></div>

    <table *ngIf="stats" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Data</th>
          <th>Kto</th>
          <th>Operacja</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of stats">
          <td>{{ log.id }}</td>
          <td>{{ log.when }}</td>
          <td>{{ log.userName }}</td>
          <td>
            {{ log.description }}&nbsp;&nbsp;&nbsp;
            <button *ngIf="log.code === 'USER_HAS_SUBMITTED_ANSWER'" class="button button--primary" [routerLink]="['/answer', log.answerId]">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      test
    </div>
  </div>
</div>
