<div class="dashboard">
  <div class="row">
    <div class="gr-12">
      <h1 class="heading heading--border">Statystyki</h1>
    </div>

    <table *ngIf="stats" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Data</th>
          <th>Kto</th>
          <th>Operacja</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of stats">
          <td>{{ log.id }}</td>
          <td>{{ log.when }}</td>
          <td>{{ log.userName }}</td>
          <td>
            {{ log.description }}&nbsp;&nbsp;&nbsp;
            <button *ngIf="log.code === 'USER_HAS_SUBMITTED_ANSWER'" class="button button--primary" [routerLink]="['/answer', log.answerId]">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
