@import '../../../config';
@import '../../../style';

.pagination {
  padding: 0.5rem 0;
  text-align: center;
}

.pagination__page {
  display: inline-block;
  padding: 0.5rem;
  background: #ededed;
}