.file-upload input  {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload input  + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  cursor: pointer; /* "hand" cursor */
}

.file-upload input:focus + label,
.file-upload input  + label:hover {
  background-color: red;
}