@import '../../../config';

.file-upload input  {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload input  + label {
  font-size: 16px;
  color: white;
  background-color: $color-blue-vlight;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  padding: 7px 15px;
  margin: 7px 0;
}

.file-upload input:focus + label,
.file-upload input  + label:hover {
  background-color: $color-blue;
}

.file-upload__file--block {
  width: calc(100% - 30px);
  display: block;
  text-align: center;
}