@import '../config';

.alert {
  display: block;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
}

.alert--success {
  color: $color-green-light;
  border-color: $color-green-light;
}

.alert--danger {
  color: $color-red;
  border-color: $color-red;
}
