@import '../config';

.button {
  display: inline-block;
  border: 0;
  padding: 0.5rem 0.625rem;
  transition: all 200ms;
  border: 1px solid transparent;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  border-radius: 5px;
  text-decoration: none;
  color: $color-gray;

  background: #ddd;

  &:hover {
    cursor: pointer;
    border-color: $color-gray;
    background: $color-white;
    color: $color-black
  }
}

.button--primary {
  color: $color-white;
  background: $color-blue-light;
  border-color: $color-blue-light;

  &:hover {
    color: $color-blue-light;
    border-color: $color-blue-light;
    background: $color-white;
  }
}

.button--danger {
  color: $color-white;
  background: $color-red;
  border-color: $color-red;

  &:hover {
    color: $color-red;
    border-color: $color-red;
    background: $color-white;
  }
}

.button:disabled {
  opacity: 0.5;
}

.button:disabled:hover {
  &:hover {
    color: inherit !important;
    border-color: inherit !important;;
    background: inherit !important;;
  }
}
