.heading {
  margin: 0;
  padding: 0;
  display: block;
  color: $color-gray;
  margin-bottom: 15px;
}

.heading--border {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.heading--center {
  text-align: center;
}

.heading--blue {
  color: $color-blue;
}
