@import '../config';

.line {
  height: 1px;
  display: block;
  width: 50%;
  margin: 20px auto;
  background: $color-blue-vlight;
  border: 0;

  &:before, &:after {
    content: '';
    display: block;
    clear: both;
  }
}
