@import "../config";

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__menu-item {
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  &:last-child {
    border-bottom-color: transparent;
  }
}

.nav__menu-item__link {
  color: $color-blue-vlight;
  text-decoration: none;
  display: block;
  padding: 1rem 1rem;
  transition: all 200ms;
  border-right: 0px solid transparent;

  &:hover {
    color: $color-white;
    background: $color-blue-vlight;
    border-right-width: 5px;
    border-right-color: $color-blue;
    .nav__menu-item__link__icon {
      margin-right: 0.75rem;
    }
  }
}

.nav__menu-item__link__icon {
  margin-right: .5rem;
}
