@import '../config';

.select {
  width: 100%;
  max-width: 100%;
  padding: 0.475rem 0.35rem;
  border-left: 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.14);

  font-size: 100%;
  color: $color-gray;
  transition: all 200ms;
  background: #fff;

  &:focus {
    border-color: $color-blue-vlight;
    outline: 0;
  }

  &.input--full {
    width: calc(100% - 0.7rem);
  }
}
