@import '../config';

.table-list {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  transition: all 200ms;

  th, td {
    text-align: left;
    padding: 10px 5px;

    &[class*="show"] {
      display: table-cell;
    }
  }

  td {
    &:last-child {
      width: 15%;
      text-align: right;
    }

    @include gridle_state(xs) {
      padding: 25px 15px;
    }
  }

  thead {
    border-bottom: 1px solid $color-gray;
  }

  tr {
    transition: all 200ms;
    border-bottom: 1px solid rgba(77, 127, 178, 0.1);
    &:nth-child(even) {
      background: rgba(77, 127, 178, 0.075);
    }
    &:hover {
      cursor: pointer;
      background: $color-blue-vlight;
      color: #fff;
    }
    &:last-child {
      border-bottom: none;
    }

    &.active {
      .table-list__description {
        max-height: auto;
      }
    }
  }

}
