@import 'src/app/style';
@import 'src/app/config';

.question-sentence {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;

  .choice-sentence {
    width: calc(100% - 8rem);
  }

  .question-operation {
    float: right;
  }
}

.question-correct {
  display: block;
  padding: 5px;
  text-align: center;
  color: white;
  input {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.question-correct--correct {
  background: $color-green;
}

.question-correct--incorrect {
  background: $color-red;
}

.question-sentence-word {
  display: inline-block;
  vertical-align: top;
  margin: 7px;
  width: calc(23% - 26px);
  padding: 15px 13px;
  background: #efefef;
  border: 1px solid #ccc;
}

.question-sentence-word__count {
  background: $color-blue-vlight;
  width: 10%;
  text-align: center;
  color: #fff;
  height: 39px;
  float: left;
  line-height: 39px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.question-sentence-word__input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right;
  width: calc(90% - 1.25rem - 2px);
}

.question-attachment {
  text-align: center;
  .show-attachment {
    width: 100%;
    margin: 7px 0;
  }
}

.question-attachment__attachment {
  display: none;
}
