<div class="" *ngIf="test && answers && user">
  <div class="row">
    <div class="gr-12">
      <h1 class="heading heading--border">Wynik testu <strong>{{ test.name }}</strong> ucznia {{ user.first_name }} {{ user.last_name }}</h1>
    </div>

    <div class="test__score">
      Wynik: {{ score }}%
    </div>

    <div class="gr-12">
      <div class="test">

        <div class="test__exercises" *ngIf="exercises">

          <div *ngFor="let exercise of exercises; let i = index" class="test__exercises__exercise">
            <div class="test__exercises__exercise__name">
              <h3 class="heading heading--primary">{{ exercise.name }}</h3>
            </div>

            <div class="test__exercises__exercise__command">
              <p>{{ exercise.command }}</p>
            </div>

            <div class="test__exercises__exercise__attachments">
              <div *ngFor="let item of exercise.attachments" style="display: inline-block;vertical-align:middle; margin: 15px;">
                <img *ngIf="item.type === 'image/png' || item.type === 'image/jpg' || item.type === 'image/jpeg'" class="test__exercises__exercise__attachments__item" src="{{ storageUrl }}{{ item.url }}">
                <audio controls *ngIf="item.type === 'audio/mpeg'">
                  <source class="test__exercises__exercise__attachments__item" src="{{ storageUrl }}{{ item.url }}" type="{{ item.type }}">
                </audio>
              </div>
            </div>

            <div class="test__exercises__exercise__body">
              <student-brackets [setDefaults]="false" [exercise]="exercise" [answers]="answers[exercise.id]" *ngIf="exercise.type === 'BRACKETS'"></student-brackets>
              <student-choice [setDefaults]="false" [exercise]="exercise" [answers]="answers[exercise.id]" *ngIf="exercise.type === 'CHOICE'"></student-choice>
            </div>
          </div>

        </div>



      </div>

      <hr class="line">

    </div>
  </div>
</div>
