<div class="row">
  <div class="gr-12 gr-5@md gr-centered">
    <div class="login">
      <div class="login__title">
        <h1 class="heading heading--normal">Wymagana autoryzacja</h1>
      </div>

      <div class="login__form">
        <form role="form" class="form" (submit)="login($event, username.value, password.value)">

          <div class="form__group">
            <div class="form__group__label">
              <label for="email">Adres e-mail</label>
            </div>
            <div class="form__group__control">
              <input type="text" #username class="input input--full" id="email">
            </div>
          </div>

          <div class="form__group">
            <div class="form__group__label">
              <label for="password">Hasło</label>
            </div>
            <div class="form__group__control">
              <input type="password" #password class="input input--full" id="password">
            </div>
          </div>

          <div class="form__buttons">
            <button type="submit" class="button button--primary">
              <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Zaloguj się
            </button>
            <div class="login__form__forgotten-link">
              <a href="#" class="form__link">
                <small>zapomniałem hasła</small>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
