@import '../../config';
@import '../../grid';

.login {
  color: #777;
  margin-top: 15%;
}

.login__title {
  border-bottom: 1px solid $color-gray;
  color: $color-blue;
  padding-bottom: 15px;
}

.login__form {
  padding: 1rem 0 2rem;
}

.login__form__forgotten-link {
  margin-left: 15px;
  display: inline-block;
}

.login__error {
  height: 0;
  color: $color-red;
  text-align: center;
  opacity: 0.5;
  overflow: hidden;
  transition: all 200ms;
  line-height: 30px;
  margin-bottom: -15px;
  padding-top: 15px;

  &.login__error--triggered {
    opacity: 1;
    height: 30px;
  }
}

.login__error__icon {
  margin-right: 7px;
}
