<div class="" *ngIf="user || student">
  <div class="row">
    <div class="gr-12">
      <h1 class="heading heading--border">Użytkownicy</h1>
    </div>
    <div class="gr-12" *ngIf="user.isAdmin()">
      <div class="form-filters">
        <div class="form-filters__filter gr-12 gr-4@md">
          <div class="form-filters__filter__label">
            <label for="user-role-filter">Typ użytkownika</label>
          </div>
          <div class="form-filters__filter__control">
            <select [(ngModel)]="filter" (ngModelChange)="getUsers()" class="select">
                <option *ngFor="let type of filters" [value]="type.value">{{ type.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="gr-12">
      <a class="button button--primary add-user pull-right" [routerLink]="['/users/new']" *ngIf="user.isAdmin()">
        <i class="fa fa-plus"></i> <i class="fa fa-user"></i>
      </a>
    </div>
    <div class="gr-12">
      <table class="users-table">
        <thead>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>E-mail</th>
          <th>Rola</th>
          <th colspan="2">Utworzony</th>
        </thead>

        <tbody>
          <tr *ngFor="let element of users" [routerLink]="['/users', element.id, 'statistics']">
            <td>
              <span class="users-table__first-name">
                {{ element.first_name }}
              </span>
            </td>
            <td>
              <span class="users-table__last-name">
                {{ element.last_name }}
              </span>
            <td>
              <span class="users-table__email">
                {{ element.email }}
              </span>
            </td>
            <td>
              <span class="users-table__role badge badge--{{ element.role | lowercase }}">
                {{ element.role_name }}
              </span>
            </td>
            <td>
              <span class="users-table__created">
                {{ element.created }}
              </span>
            </td>
            <td class="users-table__edit">
              <a class="button" [routerLink]="['/users', element.id, 'statistics']" *ngIf="user.isAdmin() || user.isSupervisor()">
                <i class="fa fa-bar-chart"></i>
              </a>
              <a class="button button--primary" [routerLink]="['/users', element.id, 'edit']" *ngIf="user.isAdmin()">
                <i class="fa fa-eye"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="gr-12">
      <!-- <a class="button button--primary add-users pull-right" [routerLink]="['/users/new']">
        <i class="fa fa-plus"></i> <i class="fa fa-group"></i>
      </a> -->
      <a class="button button--primary add-user pull-right" [routerLink]="['/users/new']" *ngIf="user.isAdmin()">
        <i class="fa fa-plus"></i> <i class="fa fa-user"></i>
      </a>
    </div>
  </div>
</div>
