<div class="" *ngIf="excercise && excercise.data">

    <p *ngFor="let sentence of keys(excercise.data); let i = index">
      <span *ngFor="let parsedSentence of splitSentence(excercise.data[sentence]); let j = index">
        {{ parsedSentence }}
        <span *ngIf="j < (splitSentence(excercise.data[sentence]).length - 1)">
          <input type="text" [(ngModel)]="answers[sentence][j+1]" (ngModelChange)="updateExcerciseAnswerValues()" class="word">
        </span>
      </span>
    </p>

</div>
