<div class="row">
  test
  <div class="gr-12">
      <file-upload [id]="file" (fileUploaded)="attachFileToExcercise($event)"></file-upload>
  </div>

  <div class="gr-12">
    <div *ngFor="let attachment of excercise.attachments">
      <img *ngIf="attachment.type === 'image/png' || attachment.type === 'image/jpg' || attachment.type === 'image/jpeg'" src="http://localhost:3000{{ attachment.url }}" style="max-width: 300px; max-height: 300px; width: auto; height: auto">
      <audio controls *ngIf="attachment.type === 'audio/mpeg'">
        <source  class="test__excercises__excercise__attachments__item" src="{{ storageUrl }}{{ attachment.url }}" type="{{ attachment.type }}">
      </audio>
    </div>
  </div>

  <div class="gr-12">
    <div [ngSwitch]="excercise.type">
      <edit-brackets *ngSwitchCase="'BRACKETS'" [excercise]="excercise" (updateExcercise)="updateExcerciseData($event)"></edit-brackets>
      <edit-choice *ngSwitchCase="'CHOICE'" [excercise]="excercise" (updateExcercise)="updateExcerciseData($event)" (fileUploaded)="attachFileToExcercise($event)"></edit-choice>
      <div *ngSwitchDefault>Nieznany typ ćwiczenia</div>
    </div>
  </div>

</div>
