<div class="">
  <div class="row">
    <div class="gr-12">
      <h1 class="heading heading--border">Twoje kursy</h1>
    </div>
    <div class="gr-12">
      <table class="courses-table">
        <thead>
          <th colspan="2">Nazwa kursu</th>
        </thead>

        <tbody>
          <tr *ngFor="let course of courses" [routerLink]="['/course', course.id]">
            <td>
              <span class="courses-table__name">
                {{ course.name }}
              </span>
              <p class="courses-table__description">
                {{ course.description }}
              </p>
            </td>
            <td>
              <button class="button button--primary">
                <i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="gr-12">
      <a class="button button--primary add-user pull-right" [routerLink]="['/courses/new']">
        <i class="fa fa-plus"></i> <i class="fa fa-book"></i>
      </a>
    </div>
  </div>
</div>
