<div class="" *ngIf="course">
  <div class="row">
    <div class="gr-12">
      <h1 class="heading heading--border">{{ course.name }}</h1>
    </div>
    <div class="gr-12">
      <p>{{ course.description }}</p>
    </div>
    <div class="gr-12">

      <table class="tests-table">
        <thead>
          <th>Nazwa testu</th>
          <th>Ostatni wynik</th>
        </thead>

        <tbody>
          <tr *ngFor="let test of tests" [routerLink]="['/test', test.id]">
            <td>
              <span class="tests-table__name">
                {{ test.name }}
              </span>
            </td>
            <td>
              <span class="tests-table__last-result" *ngIf="test.score.length > 0">
                {{ test.score }}%
              </span>
            </td>
            <td>
              <button class="button button--primary">
                <i class="fa fa-eye"></i>
              </button>
              <button *ngIf="user && user.isAdmin()" [routerLink]="['/tests', test.id, 'edit']" class="button button--default">
                <i class="fa fa-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="gr-12" *ngIf="course && user && user.isAdmin()">
      <a class="button button--primary add-user pull-right" [routerLink]="['tests', 'new']">
        <i class="fa fa-plus"></i> <i class="fa fa-book"></i>
      </a>
    </div>
  </div>
</div>
