<div class="" *ngIf="user">
  <div class="row">
    <div class="gr-12">
      <h1 class="heading heading--border">Dane konta</h1>
    </div>
    <div class="gr-12">

      <form class="form">
        <div class="form__section">
          <header class="form_section__heading">
            <h3 class="heading heading--center">Dane personalne</h3>
          </header>


          <div class="form__group form__group--inline">
            <div class="form__group__label">
              <label for="user-email">Adres e-mail</label>
            </div>
            <div class="form__group__control">
              <input type="text" disabled #useremail class="input input--full" id="user-email" value="{{ user.email }}">
            </div>
          </div>

          <div class="form__group form__group--inline">
            <div class="form__group__label">
              <label for="user-first_name">Imię</label>
            </div>
            <div class="form__group__control">
              <input type="text" disabled #userfirstname class="input input--full" id="user-first_name" value="{{ user.first_name }}">
            </div>
          </div>

          <div class="form__group form__group--inline">
            <div class="form__group__label">
              <label for="user-last_name">Nazwisko</label>
            </div>
            <div class="form__group__control">
              <input type="text" disabled #userlastname class="input input--full" id="user-last_name" value="{{ user.last_name }}">
            </div>
          </div>

          <div class="form__buttons">
            <button type="submit" class="button button--primary pull-right">
              <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Poproś o zmianę danych
            </button>
          </div>
        </div>
      </form>

      <form class="form">
        <div class="form__section">
          <header class="form_section__heading">
            <h3 class="heading heading--center">Zmiana hasła</h3>
          </header>


          <div class="form__group form__group--inline">
            <div class="form__group__label">
              <label for="user-old_password">Stare hasło</label>
            </div>
            <div class="form__group__control">
              <input type="password" name="oldPassword" [(ngModel)]="oldPassword" class="input input--full" id="user-old_password">
            </div>
          </div>

          <div class="form__group form__group--inline">
            <div class="form__group__label">
              <label for="user-new_password">Nowe hasło</label>
            </div>
            <div class="form__group__control">
              <input type="password" name="newPassword" [(ngModel)]="newPassword" class="input input--full" id="user-new_password">
            </div>
          </div>

          <div class="form__group form__group--inline">
            <div class="form__group__label">
              <label for="user-new_password_repeat">Powtórz nowe hasło</label>
            </div>
            <div class="form__group__control">
              <input type="password" name="newPasswordRepeat" [(ngModel)]="newPasswordRepeat" class="input input--full" id="user-new_password_repeat">
            </div>
            <span class="form__group__error" *ngIf="changePasswordError.length > 0">{{ changePasswordError }}</span>
            <span class="form__group__success-message" *ngIf="successMessage.length > 0">{{ successMessage }}
                <!-- <i class="fa fa-remove pull-right" aria-hidden="true"></i> -->
            </span>
          </div>

          <div class="form__buttons">
            <button type="submit" class="button button--primary pull-right" (click)="changePassword()">
              <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Zmień hasło
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
