<div class="" *ngIf="test">
  <div class="row">
    <div class="gr-12">
      <h1 class="heading heading--border">{{ test.name }}</h1>
    </div>
    <div class="gr-12">
      <div class="alert alert--danger" *ngIf="error.length > 0" (click)="error = ''">{{ error }}</div>
    </div>

    <div class="test__score" *ngIf="hasResults">
      <span class="test__score__label">Wynik testu:</span>
      <div class="test__score__score">
        <score-circle [score]="score" [dark]="true"></score-circle>
      </div>
    </div>


    <div class="test__score-mobile" *ngIf="hasResults">
      Wynik testu: <strong>{{ score }}%</strong>
    </div>

    <div class="gr-12">
      <div class="test">

        <div class="test__exercises">

          <div *ngFor="let exercise of exercises; let i = index" class="test__exercises__exercise">
            <div class="test__exercises__exercise__name">
              <h3 class="heading heading--primary">{{ exercise.name }} <small><em>( x {{ exercise.pointFactor }} p.)</em></small></h3>
            </div>

            <div class="test__exercises__exercise__command">
              <p>{{ exercise.command }}</p>
            </div>

            <div class="test__exercises__exercise__attachments">
              <div *ngFor="let item of exercise.attachments" style="display: inline-block;vertical-align:middle; margin: 15px;">
                <img *ngIf="item.type === 'image/png' || item.type === 'image/jpg' || item.type === 'image/jpeg'" class="test__exercises__exercise__attachments__item" src="{{ storageUrl }}{{ item.url }}">
                <audio controls *ngIf="item.type === 'audio/mpeg'">
                  <source class="test__exercises__exercise__attachments__item" src="{{ storageUrl }}{{ item.url }}" type="{{ item.type }}">
                </audio>
              </div>
            </div>

            <div class="test__exercises__exercise__body">
              <student-brackets [exercise]="exercise" [answers]="answers[exercise.id]" *ngIf="exercise.type === 'BRACKETS'"></student-brackets>
              <student-choice [exercise]="exercise" [answers]="answers[exercise.id]" *ngIf="exercise.type === 'CHOICE'"></student-choice>
            </div>
          </div>

        </div>

      </div>

      <button type="button" *ngIf="!hasResults" class="button button--primary test__check" (click)="submitAnswers()">Sprawdź wyniki</button>
      <!-- <button type="button" class="button button--primary test__check" (click)="submitAnswers()">Sprawdź wyniki</button> -->
    </div>
  </div>
</div>

<div class="modal" id="result-modal" *ngIf="hasResults">
  <div class="modal__result-wrapper">
    <h2>Twój wynik</h2>
    <score-circle [score]="score" [dark]="false"></score-circle>
    <button type="button" class="button button--primary" [routerLink]="['/summary']">
      <i class="fa fa-sign-out"></i> Wróć do podsumowania
    </button>
    <button type="button" class="button" (click)="closeModal()">
      <i class="fa fa-eye"></i> Zobacz wyniki
    </button>
  </div>
</div>